.box-astronaut {
  width: 376.9px;
  height: 337.72px;

  img {
    width: 21.875rem;
    height: 12.527rem;
    margin-top: 50px;
  }
  figure {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  margin: 100px;

  &:hover {
    cursor: pointer;
    svg {
      transform: rotate(240deg);
      transition: 0.2s;
    }
  }
}

.title-astronaut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;

    color: #ffffff;
  }

  svg {
    transform: matrix(0.85, 0.53, -0.53, 0.85, 0, 0);
    transform: rotate(40deg);
    transition: 0.2s;
  }
}

.subtitle-astronaut {
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #5a5757;
  }
  .subtitle-red {
    color: #ff5b50;
    font-weight: 400;
  }
}
